<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://room-vision-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/adaf70bd-1055-4180-870f-6a1ec1bd0121/resourceGroups/room-vision/providers/Microsoft.Web/sites/room-vision-api</ResourceId>
    <UserName>$room-vision-api</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://room-vision-api.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>